<h1>Forgot password</h1>

<%= form_with(scope: :password_reset, url: password_resets_path, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
